@font-face {
  font-family: Roboto;
  src: local('Roboto'), url(/fonts/Roboto-Bold.woff2) format('woff2'),
    url(/fonts/Roboto-Bold.woff) format('woff');
}
x * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --backround: white;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  background: var(--backround);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  width: 500px;
  height: 500px;

  background: black;
}

form {
  margin: 2rem;
}

h1 {
  transition: 0.2s;
}
