@font-face {
  font-family: 'Roboto';
  src: local('sans-serif'), url(/fonts/Roboto-Bold.woff2) format('woff2'),
    url(/fonts/Roboto-Bold.woff) format('woff');
}
x * {
  box-sizing: border-box;
}

:root {
  --backround: white;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  background: var(--backround);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: 'Roboto';
}

canvas {
  width: 400px;
  height: 400px;

  background: black;
}

form {
  margin: 2rem;
}

h1 {
  transition: 0.2s;
}

@media only screen and (max-width: 700) {
  canvas {
    width: 200px;
  }

  body {
    background: black;
  }
}
